html, body, #content, #main-body {
	width: 100%;
	height: 100%;
	overflow: auto;
}	

.button-only-ripple {
	background-color: inherit;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	color: inherit;
	text-transform: initial;
}	

.hidden {
	display: none;
}
.invisible {
	overflow: hidden;
	opacity: 0;
	width: 0 !important;
	height: 0 !important;
	outline: none;
	position: absolute;
	top: -10px;
	left: 10px;

	&:focus {
		outline: none;
	}
}